@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #50baf7;
  text-decoration: none;
}

body {
  padding-top: 60px;
	background-color: #000000;
	
}

.navbar .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #50baf7;
}

.btn-primary {
	background-color: #000000;
}

.btn-primary:hover {
	background-color: #50baf7;
}


.navbar-inverse{
	background-color: #000000;
}
.container {
	background-color: #000000;
	
}

.jumbotron{
	background-color: #ffffff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* Dropdown */

.dropdown-menu.active {
	display: block;
}